@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
  }

/* General common style for body, main, strong, img and main title */

body {
    background-color: #f3e6d8;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 800px ) {
    .container {
        margin-top: 10rem;
        max-width: 50rem;
        border-radius: 1rem;
        padding: 2rem;
        background-color: white;
    }

    img {
        border-radius: 1rem;
        width: 100%;
    }
}

.attribution { 
    margin-top: 1rem;
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

main {
    max-width: 100%;
    padding: 1rem;
    background-color: #fff;
}

h1 {
    font-size: 2rem;
    padding: 1.5rem 0;
    font-family: 'Young Serif';
}

strong {
    font-weight: bold;
    color: hsl(30, 10%, 34%);
}

img {
    max-width: 100%;
}

h2 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}

p {
    font-size: 1.08rem;
}

section {
    margin: 1rem 0;
}

/* Style Preparation */

.preparation {
    padding: 1.2rem;
    margin: 1rem 0;
    background-color: #fff5fa;
    border-radius: 1.3rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: hsl(332, 51%, 32%);
}

.preparation > ul {
    padding: 1rem;
}

.preparation > ul > li {
    padding: 0.5rem;
    padding-right: 2rem;
    list-style: outside;
}

ul > li::marker {
    color:#612c48
}

/* Style Ingredients */

.ingredients li {
    list-style: inside;
    padding: 0.5rem;
}

/* Style Instructions */

ol > li { 
    list-style: decimal;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}

ol > li::marker {
    color:#612c48;
}

.instructions li {
    padding: 0.5rem;
}

/* Style Table */

table {
    width: 100%;
    margin: 1rem 0;
}

tr {
    border-bottom: solid 1px hsl(30, 18%, 87%);
}

tr:nth-child(4) {
    border-bottom: none;
}

td:nth-child(2) {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}

td {
    padding: 1rem;
}

